body {
}
div.contacts
{
    float:left;
    width:25%;
    margin-left:23px;
}
div.contactDetails{
    width:9%;
    display:table-cell;
    float:left;
}
ListBox#listBoxContacts{
   border:2px solid;
   border-radius:4px;
   margin:5px;
}
div.bigBody{
    display:inline;
}
GridView#GridViewContacts{
    margin:auto;
}
div#GridViewContactsDiv{
    margin:10px;
}
div.listBox{
    margin:10px;
}
TextBox.contactDetailTxt{
    border-radius:3px;
}
#btnDelete{
   float:left;
}
#btnUpdate{
    margin-left:5px;
    float:left;
}
#btnAddContact{
    margin:5px;
    float:left;
}
div.contentHead{
    border-bottom:solid 5px;
    background-color:#f2e17b;
    margin:2em;
    min-height:90px;
}
#logo{
    margin:7px;
    font-size:80px;
}
div.contentRight{
    float:right;
}
#viewContact{
    margin-left:31px;
}
